##Police Killings

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
kills = pd.read_csv("../data/police-killings.csv")

In [24]:
kills.head()

,Unnamed: 0,name,age,gender,raceethnicity,month,day,year,streetaddress,city,state,lawenforcementagency,cause,armed,county_income
0,0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,Millbrook Police Department,Gunshot,No,54766
1,1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,Rapides Parish Sheriff's Office,Gunshot,No,40930
2,2,Aaron Siler,26,Male,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,Kenosha Police Department,Gunshot,No,54930
3,3,Aaron Valdez,25,Male,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,South Gate Police Department,Gunshot,Firearm,55909
4,4,Adam Jovicic,29,Male,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,Kent Police Department,Gunshot,No,49669

In [11]:
kills.describe()

       Unnamed: 0         age         day    year  county_income
count  467.000000  467.000000  467.000000   467.0     467.000000
mean   233.000000   37.351178   15.830835  2015.0   52527.331906
std    134.955548   12.944617    8.658970     0.0   12948.263811
min      0.000000   16.000000    1.000000  2015.0   22545.000000
25%    116.500000   28.000000    8.000000  2015.0   43804.000000
50%    233.000000   35.000000   16.000000  2015.0   50856.000000
75%    349.500000   45.000000   23.000000  2015.0   56832.000000
max    466.000000   87.000000   31.000000  2015.0  110292.000000

In [4]:
len(kills)

467

In [12]:
kills['raceethnicity'].unique()

array(['Black', 'White', 'Hispanic/Latino', 'Unknown',
       'Asian/Pacific Islander', 'Native American'], dtype=object)

In [17]:
len(kills[kills.raceethnicity == "Black"])

135

In [30]:
kills.raceethnicity.value_counts()

White                     236
Black                     135
Hispanic/Latino            67
Unknown                    15
Asian/Pacific Islander     10
Native American             4
Name: raceethnicity, dtype: int64

In [32]:
kills.state.value_counts()

CA    74
TX    46
FL    29
AZ    25
OK    22
GA    16
NY    14
CO    12
WA    11
NJ    11
IL    11
LA    11
OH    10
MD    10
NC    10
MO    10
VA     9
MI     9
SC     9
OR     8
AL     8
IN     8
KY     7
PA     7
TN     6
NE     6
MN     6
MS     6
KS     6
WI     5
MA     5
UT     5
NM     5
AR     4
ID     4
HI     4
NV     3
IA     2
AK     2
WV     2
MT     2
DE     2
DC     1
ME     1
CT     1
WY     1
NH     1
Name: state, dtype: int64

In [28]:
kills.cause.value_counts()

Gunshot              411
Taser                 27
Death in custody      14
Struck by vehicle     12
Unknown                3
Name: cause, dtype: int64

In [37]:
kills[kills.raceethnicity == "Black"].age.max()

77