##Police Killings

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [39]:
kills = pd.read_csv("../data/the-counted-2015.csv")

In [40]:
kills.head()

,uid,name,age,gender,raceethnicity,month,day,year,streetaddress,city,state,classification,lawenforcementagency,armed
0,2,Matthew Ajibade,22,Male,Black,January,1,2015,1050 Carl Griffin Dr,Savannah,GA,Death in custody,Chatham County Sheriff's Office,No
1,4,Lewis Lembke,47,Male,White,January,2,2015,4505 SW Masters Loop,Aloha,OR,Gunshot,Washington County Sheriff's Office,Firearm
2,7,Tim Elliott,53,Male,Asian/Pacific Islander,January,2,2015,600 E Island Lake Dr,Shelton,WA,Gunshot,Mason County Sheriff's Office,Firearm
3,5,Michael Kocher Jr,19,Male,White,January,3,2015,2600 Kaumualii Hwy,Kaumakani,HI,Struck by vehicle,Kauai Police Department,No
4,6,John Quintero,23,Male,Hispanic/Latino,January,3,2015,500 North Oliver Ave,Wichita,KS,Gunshot,Wichita Police Department,No

In [41]:
kills.describe()

               uid          day    year
count  1145.000000  1145.000000  1145.0
mean    584.754585    15.635808  2015.0
std     338.474470     8.558883     0.0
min       2.000000     1.000000  2015.0
25%     291.000000     8.000000  2015.0
50%     583.000000    15.000000  2015.0
75%     879.000000    23.000000  2015.0
max    1169.000000    31.000000  2015.0

In [42]:
len(kills)

1145

In [43]:
kills['raceethnicity'].unique()

array(['Black', 'White', 'Asian/Pacific Islander', 'Hispanic/Latino',
       'Unknown', 'Native American', 'Arab-American', 'Other'], dtype=object)

In [44]:
len(kills[kills.raceethnicity == "Black"])

304

In [45]:
kills.raceethnicity.value_counts()

White                     582
Black                     304
Hispanic/Latino           195
Asian/Pacific Islander     24
Unknown                    22
Native American            13
Arab-American               4
Other                       1
Name: raceethnicity, dtype: int64

In [46]:
kills.state.value_counts()

CA    211
TX    110
FL     71
AZ     44
GA     39
OK     38
OH     37
CO     32
LA     28
NC     26
NY     25
PA     24
WA     23
VA     23
IL     23
NJ     23
MO     22
NM     21
IN     21
SC     21
TN     21
MI     20
NV     19
AL     19
KY     19
MD     17
OR     17
MN     13
MS     12
WI     12
WV     12
KS     11
UT     10
MA     10
NE      9
ID      8
DC      6
WY      6
HI      5
AR      5
AK      5
IA      5
MT      4
CT      4
DE      4
NH      3
ME      2
SD      2
ND      1
RI      1
VT      1
Name: state, dtype: int64

In [48]:
kills.classification.value_counts()

Gunshot              1019
Taser                  50
Death in custody       41
Struck by vehicle      34
Other                   1
Name: classification, dtype: int64

In [49]:
kills[kills.raceethnicity == "Black"].age.max()

'77'